@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Poppins, Helvetica, sans-serif;*/
}

*{
  font-family: Poppins, serif;
}

button:hover{
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }